@import url("https://use.typekit.net/sdo2akm.css");

/*
body{
  width: 100vw;
  height: 100vh;
    } */
h1{
  font-family: futura-pt, sans-serif;
  color: #FFC300 ;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 4px;
  text-align: right;
}

.menu1{
  margin-top: -20px;

}

.menu2{
  transform: rotate(-20deg);
  margin-top: 40px;
  margin-right: 40px;
}

.menu3{
  transform: rotate(-50deg);
  margin-right:-30px;
  margin-top: 70px;
}

.menu4{
  transform: rotate(-90deg);
  margin-right:-300px;
  margin-top: 145px;
}

.box {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  transition: transform 1s linear;
  transform-origin: top right;
  transform-style: preserve-3D;
  transform: rotate(180deg);
}

.box-rotate {
  transform: rotate(360deg);
}

button {
  display: block;
  background-color: transparent;
  border: none;
  margin: auto;
  height: 100px;
  width: 100px;
  transform: scale(.6);
  float: right;
  margin-right: -50px;
  margin-top: -50px
}

#menu{
  height: 300px;
  width: 300px;
  position: absolute;
  right: 0px;
  margin: 40px;
}

a:link {
    text-decoration: none;
    color: #FFC300;
}

a:visited {
    text-decoration: none;
    color: #FFC300;
}

a:hover {
    text-decoration: underline;
    color: #FFC300;
}

a:active {
    text-decoration: underline;
    color: #FFC300;
}

#Tittle{
  position: absolute;
  font-family: futura-pt, sans-serif;
  color: #FFC300 ;
  font-size: 25px;
  font-weight: 600;
  padding-top: 20px;
  padding-left: 40px;
  letter-spacing: 4px;
  opacity: 0;

}

#Tittle {
  animation-duration: 2s;
  animation-delay: 1s;
  animation-name: bounceIn;
  animation-fill-mode: forwards;

}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}

#overlay{
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.img1, .img2 {
  opacity: 0.5;
}

#slider{
  position: absolute;
  top: 850px;
  width: 100%;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 0%;
    margin-left: 80px;
    height: 15px;
    background : #1E1E1E;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-name: slider;
    animation-fill-mode: forwards;
}

@keyframes slider {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
        background: #FFC300;
    cursor: pointer;
        border-radius: 20px;
}

.slider::-webkit-slider-thumb:hover {
	height: 35px;
  width: 35px;

}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #FFC300;
    cursor: pointer;
}

.element {
  width: 100%;
  height: 100%;
  animation: pulse 5s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
